.header {
  background-color: #42e90f;
  color: white;
  padding: 20px;
  text-align: center;
}


.header h1 {
  margin: 0;
  font-size: 1.8rem;
}

.header nav {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.header nav a {
  background-color: #4206e7;
  color: rgb(245, 237, 237);
  text-decoration: rgb(228, 28, 228);
  padding: 10px 16px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.header nav a:hover {
  background-color: #777;
}